# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# SQLite DB
*.db

# Environment variables
.env